# VS and VSC folders
**/.vs/
**/.vsc/

# Common extensions
**/*.exp
**/*.ilk
**/*.lib
**/*.pdb
**/*.exp
**/*.exe

# Compilation folders
**/bin/
**/obj/
**/out/build/

# Don't push the SDK
discord_social_sdk